*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#No ignore

!json-simple-1.1.1.jar
!gson-2.2.4.jar
!jsoup-1.8.1.jar
!json-20160212.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

dist/

build/

build.xml

nbproject/

manifest.mf

.DS_Store

